@use "../variables";

.report-loading-msg {
  position: fixed;
  top: calc(50% + 9vw);
  left: 0;
  right: 0;
  text-align: center;
  z-index: 9999001;
  font-weight: bold;
  font-size: 1.1em;
  color: variables.$colorBase01;
  pointer-events: none;
}

.report-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 1.2em;
  font-weight: bold;
  color: variables.$foreColorBase01;
}

html {
  body {
    > div
      > div
      > div
      > div:nth-child(1)
      > div
      > div
      > div:nth-child(1)
      > div
      > div:nth-child(3)
      > div:nth-child(6) {
      display: none !important;
    }
    div
      > div
      > div.rpv-default-layout__container
      > div
      > div
      > div.rpv-default-layout__toolbar
      > div
      > div.rpv-toolbar__right
      > div:nth-child(3)
      > div
      > div
      > div {
      display: none !important;
    }
    div
      > div
      > div.rpv-default-layout__container
      > div
      > div
      > div.rpv-default-layout__toolbar
      > div
      > div.rpv-toolbar__right
      > div:nth-child(2) {
      display: none !important;
    }
    div
      > div
      > div.rpv-default-layout__container
      > div
      > div
      > div.rpv-default-layout__toolbar
      > div
      > div.rpv-toolbar__right
      > div:nth-child(1) {
      display: none !important;
    }
    div
      > div
      > div.rpv-default-layout__container
      > div
      > div
      > div.rpv-default-layout__toolbar
      > div
      > div.rpv-toolbar__right
      > div:nth-child(4) {
      @media (max-width: 767px) {
        display: block !important;
      }
    }
    .rpv-default-layout__toolbar {
      position: fixed !important;
    }
  }
}
