@use "../variables";
html {
  body {
    > div
      > div
      > div
      > div:nth-child(1)
      > div
      > div
      > div:nth-child(1)
      > div
      > div:nth-child(3)
      > div:nth-child(6) {
      display: none !important;
    }
    div
      > div
      > div.rpv-default-layout__container
      > div
      > div
      > div.rpv-default-layout__toolbar
      > div
      > div.rpv-toolbar__right
      > div:nth-child(3)
      > div
      > div
      > div {
      display: none !important;
    }
    div
      > div
      > div.rpv-default-layout__container
      > div
      > div
      > div.rpv-default-layout__toolbar
      > div
      > div.rpv-toolbar__right
      > div:nth-child(2) {
      display: none !important;
    }
    div
      > div
      > div.rpv-default-layout__container
      > div
      > div
      > div.rpv-default-layout__toolbar
      > div
      > div.rpv-toolbar__right
      > div:nth-child(1) {
      display: none !important;
    }
    div
      > div
      > div.rpv-default-layout__container
      > div
      > div
      > div.rpv-default-layout__toolbar
      > div
      > div.rpv-toolbar__right
      > div:nth-child(4) {
      @media (max-width: 767px) {
        display: block !important;
      }
    }
    .rpv-default-layout__toolbar {
      position: fixed !important;
    }
  }
}
