@use "../../variables";

// .calendarZoom {
//   color: red !important;
//   &.actif {
//     color: red !important;
//     .css-1laqsz7-MuiInputAdornment-root {
//       color: variables.$colorBase01 !important;
//     }
//   }
// }
