@use "../../variables";
.groupbox {
  .chip {
    min-width: 15em !important;
    background-color: variables.$colorBase03;
    margin-bottom: 1em;
    z-index: 10;
    @media (max-width: 600px) {
      min-width: 0 !important;
      font-size: 1.1em !important;
    }
  }
  .grpDiv {
    margin-top: 2em;
    position: relative;
    background-color: #ffffff;
    padding: 2em 0.5em;
    &.withBorders {
      border: 2px solid #c8c8c8;
      border-radius: 10px;
      .chip {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
