@use "../../variables";
.ged {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999000;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  padding: 2em;

  .grp {
    width: fit-content;
    min-width: 50vw;
    position: relative;
    .grpDiv {
      border-radius: 5px !important;
    }
    @media (max-width: 600px) {
      min-width: 98vw;
    }
    .listeHeader {
      top: 0;
      left: 0;
      right: 0;
      height: 3em;
      position: absolute;
      width: 100%;
      background-color: variables.$colorBase01;
      display: flex;
      //justify-content: space-between;
      align-items: center;
      border-radius: 5px 5px 0 0;
      color: #ffffff;
      padding-right: 1em;
      .ajouterPJ {
        width: fit-content;
        display: flex;
        align-items: center;
        gap: 0.5em;
        font-size: large;
        border-bottom: solid 1px rgb(146, 146, 146);
        padding: 0.5em;
        cursor: pointer;
      }
    }

    .listeDoc {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      align-items: start;
      margin-top: 3em;
      background-color: #ffffff;
      height: 50vh;
      overflow-y: scroll;
      .detailDoc {
        display: inline-flex;
        color: gray;
        font-size: small;
        font-style: italic;
      }
    }
  }
}
