@use "../../_variables.scss";
.login-page-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 0;

  background-image: linear-gradient(
    variables.$gradientStart,
    variables.$colorBase01,
    variables.$colorBase02,
    variables.$colorBase01,
    variables.$gradientEnd
  );
  display: flex;
  justify-content: center;
  align-items: center;

  .login {
    padding: 1.5em;
    width: clamp(22rem, 24rem, 24rem);
    min-height: 36rem;
    max-height: 90vh;
    overflow-y: auto;
    box-sizing: border-box;
    background-color: variables.$bgInput;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .titre {
      width: 80%;
      text-align: center;
      font-family: "Dancing Script", cursive;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      font-size: 1.5em;
      color: variables.$colorBase01;
      span {
        color: variables.$colorBase02;
      }
    }
    .version {
      color: variables.$foreColorBase01;
      font-size: small;
    }
    .btn {
      flex-grow: 2;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.75em;
      margin-top: 0.5em;
    }
    .txt {
      flex-grow: 3;
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 1.5em;
    }
    .bouton,
    .textBox {
      width: 90%;
      max-width: 100%;
      box-sizing: border-box;
      // Fix for MUI TextField colors in Dark Mode
      & .MuiInputBase-input {
        color: variables.$foreColorBase01 !important;
      }
      & .MuiIconButton-root {
        color: variables.$foreColorBase01 !important;
      }
      & .MuiInputLabel-root:not(.MuiInputLabel-shrink) {
        color: #9ca3af !important;
      }
      & .MuiInputLabel-root.MuiInputLabel-shrink {
        color: variables.$foreColorBase01 !important;
      }
      & .MuiInput-underline:before {
        border-bottom-color: variables.$foreColorBase01 !important;
      }
      & .MuiInput-underline:hover:not(.Mui-disabled):before {
        border-bottom-color: variables.$colorBase02 !important;
      }
    }
  }
}
