@use "../variables";
$navbar-height: 3em;
$sidebar-width: 25rem;
$sidebar-collapsed-width: 4rem;
$sidebar-breakpoint01: 1000px;
.mainMenu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  .menuNavBar {
    width: 100%;
    height: $navbar-height;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
  }
  .corps {
    width: 100%;
    min-height: calc(100% - $navbar-height);
    margin-top: $navbar-height;
    padding-bottom: 3em;
    background-color: variables.$bgColorBase01;
    position: relative;
    left: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    .ecran {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      position: relative;
      width: 96vw;
      max-width: 1200px;
      margin: 1em auto;
      padding: 20px;
      min-width: 0;
      box-sizing: border-box;
      overflow-x: hidden;
      background-color: variables.$bgInput;
      border-radius: 8px;
      box-shadow: 0 2px 4px var(--shadow-color);
      @media (max-width: 1000px) {
        padding: 1em 0.5em;
      }
      @media (min-width: 1001px) {
        width: 80vw;
      }
    }
    .Separateur {
      height: calc(variables.$positionFloating + 1em);
      width: 100%;
    }
    .sideMenuBarContainer {
      left: 0;
      top: $navbar-height;
      bottom: 0;
      position: fixed !important;
      background-color: rgba(0, 0, 0, 0.35);
      z-index: 9991;
      .sidebar {
        width: $sidebar-width;
        height: 100%;
        background-color: variables.$colorBase04;
        overflow-x: hidden;
        overflow-y: auto;
        transition: width 0.3s ease;
        z-index: 9991;
      }
      .sidebar-collapsed {
        width: $sidebar-collapsed-width;
        @media (max-width: $sidebar-breakpoint01) {
          width: 0;
        }
      }
    }
  }

  .css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background-color: variables.$colorBase01 !important;
  }

  .css-1nxmd3h-MuiListItem-root {
    height: 3em;
    &.selected {
      background-color: variables.$colorBase02;
    }
  }

  .subMenuItems {
    .MuiTypography-root {
      color: var(--title-color) !important;
    }
  }
}
