@use "../../variables";
.comboBoxContainer {
  min-width: 0;
  width: 100%;
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  align-items: flex-end !important;
  gap: 3px !important;
  .comboBox {
    min-width: 0;
    padding-inline: 10px;
    flex-grow: 1;
  }
  .clearIcon {
    color: gray;
    cursor: pointer;
    margin-bottom: 5px;
    flex-shrink: 0;
  }
}
