@use "../../variables";

.grilleContainer {
  max-height: 99%;
  width: 100%; /* Set the width of the table to fill its container */
  table-layout: auto; /* Default value, can be omitted */
  border-collapse: collapse; /* Optional, for styling */
  .grille {
    .th {
      .tr {
        .td {
          cursor: default;
          width: auto !important;
          background-color: variables.$colorBase01;
          color: #ffffff !important;
          font-weight: 400 !important;
          .filterIcon {
            position: absolute;
            right: 2px;
            padding-left: 5px;
            cursor: pointer;
          }
          .filtreActif {
            color: red;
          }
          .filterText {
            position: absolute;
            right: calc(1em + 12px);
            top: 2px;
            left: 2px;
            width: auto;
            height: calc(100% - 10px);
          }
        }
      }
    }
    .ligne {
      td {
        cursor: cell;
        width: auto !important;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        //font-size: medium !important;
      }
    }
  }
}
.css-rqv18g-MuiTableRow-root {
  font-size: inherit !important;
}
