@use "../../_variables.scss";
.css-j204z7-MuiFormControlLabel-root .MuiFormControlLabel-label {
  color: variables.$colorBase01;
}

.rh_Agent {
  background-color: variables.$bgInput; // Using card/input bg for the main agent sheet
  color: variables.$foreColorBase01;
  padding: 1em;
  border-radius: 8px;

  // Fix Grid/GroupBox text colors if needed
  & .MuiTypography-root {
    color: variables.$foreColorBase01;
  }
}
