@use "../../variables";
.textZoomContainer {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha: 0.4);
    z-index: 900;
    width: 100vw;
    height: 100vh;
  }
  .zoomIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    background-color: #3899b980;
    margin: 0.5rem;
    border-radius: 2px;
    overflow: visible;
  }
  .zoomMenu {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 2000;
    width: clamp(300px, 600px, 90vw);
    transition: height 0.5s ease, min-height 0.5s ease;
    overflow-x: scroll;
    border: 3px solid variables.$colorBase01;
    border-radius: 2px;
    background-color: variables.$colorBase04;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    font-size: 1em;
    @media (max-width: 1280px) {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      transition: height 0.2s ease, min-height 0.2s ease;
    }
    &.afficherZoom {
      min-height: 35vh;
      height: 35vh;
      border: 2px solid variables.$colorBase01;
      @media (max-width: 1280px) {
        height: 80vh;
      }
    }
    &.masquerZoom {
      min-height: 0;
      height: 0;
      border: 0px solid;
    }
    .barZoom {
      width: 100%;
      height: 2.5em;
      position: sticky;
      left: 0;
      background-color: variables.$colorBase04;
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 5px;
      padding: 5px;
      color: variables.$colorBase01;
      .barZoomItem {
        cursor: pointer;
        font-size: 2em;
        flex-grow: 0;
      }
      .barZoomNum {
        flex-grow: 8;
        text-align: center;
      }
    }
  }
}
